


.shopcategory-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 233px;
   height: 69px;
   border-radius: 75px;
   background:gray ;
   color: black;
   font-size: 18px;   
   font-weight: 500;
}